<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1> Starwars
</h1>
  <table class="styled-table">
    <thead>
      <th>Nome</th>
      <th>Altura</th>
      <th>Massa</th>
      <th>Cor do cabelo</th>
    </thead>
    <tbody>
      <tr *ngFor="let p of people">
        <td>{{p.name}}</td>
        <td>{{p.height}}</td>
        <td>{{p.mass}}</td>
        <td>{{p.hair_color}}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="previousPage()" [disabled]="!allStarwars.previous">Previous</button>
  <button (click)="nextPage()" [disabled]="!allStarwars.next">Next</button>
  <button (click)="openDialog()">Press</button>
</body>
</html>